<div class="container-fliud">
  <div class="head">
    <div class="container">
      <div class="get-start">
        <h2>Ready to get started on your project?</h2>
        <p>Build your business faster and efficient</p>
        <button>GET STARTED</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="description">
      <h2>Contact Info</h2>
      <p>we'd love to hear from you. If you have questions about how our <br> products/services works or need help with
        your account, feel <br> free to contact us</p>
    </div>
    <div class="contact-info">
      <div class="location">
        <span class="material-symbols-outlined">location_on</span>
        <p>8668 John Hickman Pkwy Suite 903 Frisco, TX 75034.</p>
      </div>
      <div class="email">
        <span class="material-symbols-outlined">mail</span>
        <p><a href="mailto:hr@tech10solutions.com/">hr@tech10solutions.com</a></p>
      </div>
    </div>
  </div>
</div>
