<div class="container">
  <div class="heading">
    <h2>About Us</h2>
    <p>We are family of professionals with passion in technology and determination to help our clients with technology
      needs.</p>
  </div>
  <div class="row">
    <div class="banner">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="image">
            <span class="material-symbols-outlined">web</span>
          </div>
          <h3>Software Development</h3>
          <h4>Product Development</h4>
          <p>Innovation is at the heart of Athena's service offering.
            We design & develop business solutions to meet our customers' requirement.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="image">
            <span class="material-symbols-outlined">person</span>
          </div>
          <h3>Staffing Services</h3>
          <h4>Enlisting, Screening & Hiring</h4>
          <p>Anthena, comprehends the fact that finding a skilled IT professional can be difficult and time consuming.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card">
          <div class="image">
            <span class="material-symbols-outlined">multicooker</span>
          </div>
          <h3>Consulting</h3>
          <h4>Strategy Consulting</h4>
          <p>Strategy Consulting, A strategy is a plan or carefully considered solution to achieve a specific
            goal.</p>
        </div>
      </div>
    </div>
  </div>
</div>
